.container{
    max-width: 100%;
}

.text-bg-primary {
    background-color: white !important; /* Cambia el color a dorado */
    color: black !important; /* Cambia el color del texto*/
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    
}
.text-bg-success {
    background-color: #ffcc00 !important; /* Cambia el color a dorado */
    color: black !important; /* Cambia el color del texto*/
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.text-bg-success:hover {
    background-color: black !important; /* Cambia el color a dorado */
    color: white !important; /* Cambia el color del texto*/
}


header {
    background-image: url(header.jpg);
    display: flex;
    width: 100%;
	height: 600px;
    background-size: cover;
}

#contenido1{
    color: #ffcc00;
	padding-top: 150px;
	padding-left: 110px;
    font-size: 50px !important;
    font-weight: bold;
}

#contenido2{
    color: white;
	padding-top: 152px;
	padding-left: 3px;
    font-size: 50PX;
    font-weight: bold;
}

#contenido3{
    color: white;
    padding-top: 80px;
    padding-right: 60px;
    font-size: 18PX;
    text-align: center;
}

.tarjeta-imagen {
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.contenido-texto {
  padding: 15px;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
}

.col-md-10{
    justify-content: center;
}

.row.g-0{
    align-items: center;
}

.tarjeta-final{
    height: 200px;
}